<header #headerElement>
    <div class="custom-container">
        <div class="nav-container">     
            <div routerLink='home' class="logo">
                <img src="../../assets/logo.png" class="logo" alt="">
                <span class="logo-text">Sala de Juegos</span>
            </div> 
            
            <div class="menu">
                <ul>
                    <ng-container *ngIf="!estaLogeado; else loggedInMenu">
                        <li (click)="openLoginPopup()" id="btnLogin" class="menu-item">Entrar</li>
                        <li (click)="openRegistroPopup()" id="btnRegistro" class="menu-item">Registro</li>
                    </ng-container>
                    <ng-template #loggedInMenu>
                        <li>{{ nombreUsuario }}</li>
                        <li (click)="cerrarSesion()" id="btnSalir" class="menu-item">Cerrar</li>
                    </ng-template>
                </ul>
            </div> 
        </div>
    </div>    
</header>

<app-login *ngIf="mostrarLoginPopup"></app-login>
<app-registro *ngIf="mostrarRegistroPopup"></app-registro>