<app-panel-menu></app-panel-menu>
<div class="about-container">    
    <img src="../../assets/avatar.jpg" alt="Avatar" class="avatar">
    <div class="about-content">        
        <h2 class="about-title">Hola, soy Brian👋🏼👨🏻‍💻</h2>
        <div class="about-text">
            <p>
                Apasionado por encontrar soluciones creativas a desafíos complejos a través del desarrollo de software, amo lo que hago y esta pasión se refleja en mi dedicación y compromiso con cada proyecto en el que me involucro. 
                Mi experiencia laboral y educativa, que comenzó en la escuela secundaria y continúa con mi formación en la Tecnicatura Universitaria en Programación en la UTN, me han brindado una sólida base en varios lenguajes de programación. Con 26 años, siempre estoy dispuesto a aprender y enfrentar nuevos desafíos.
                Creo firmemente que mi mentalidad positiva y mi capacidad para adaptarme a nuevas tecnologías y situaciones son atributos valiosos para aportar.
                Mi dedicación por la programación y mi espíritu inquisitivo me impulsan constantemente a buscar oportunidades para crecer y mejorar mis habilidades.
            </p>
        </div> 
    </div>
    <hr class="divider">
    <div class="about-redes">
        <ul>
            <li>
                <a href="https://github.com/suarezbrian" target="_blank">
                    <img src="../../assets/github.png" alt="GitHub Icon" class="social-icon">
                    GitHub
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/brian-suarez/" target="_blank">
                    <img src="../../assets/linkedin.png" alt="LinkedIn Icon" class="social-icon">
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
</div>