<div *ngIf="loginFormAbierto" class="login-container">   
    <div class="login-form">
        <button class="close-button" (click)="cerrarLoginForm()">x</button>
        <h1 class="login-title">Iniciar Sesión</h1>
        <div class="form-group">
            <label for="email" class="label-form">Correo Electrónico:</label>
            <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" [(ngModel)]="correoElectronico" required>
        </div>
        <div class="form-group">
            <label for="password" class="label-form">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña"  [(ngModel)]="password" required>
        </div>
        <button (click)="entrar()" class="login-button">Iniciar Sesión</button>
        <div class="autoCompletar">
            <input  type="checkbox" [(ngModel)]="cbEstaActivo" name="autoCompletar" (click)="autoCompletarCampos()">
            <label  for="autoCompletar">Auto Completar Campos.</label>
        </div>
    </div>
</div>