.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-left: 450px;
    width: 70%;
    font-family: 'Press Start 2P', cursive;
  }
  
  .titulo {
    font-size: 2em;
    margin: 20px 0;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  
  .no-wrap {
    flex-wrap: nowrap;
  }
  
  .palabra {
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }
  
  button {
    margin: 5px;
    padding: 10px;
  }

  .pista{
    flex-wrap: nowrap;
  }

  .intentos .mnsg-final .mnsg-acierto{
    font-size: 1.5rem;
  }

  .mnsg-final{
    font-size: 2.5rem;
  }

  .mnsg-acierto{
    font-size: 2.5rem;
  }
  

  


  
 