<app-panel-menu></app-panel-menu>
<br><br>
<div class="main-container">
    <h1>Juego del ahorcado</h1>
    <h1 *ngIf="juegoTerminado" class="mnsg-final">{{ mensajeFinal }}</h1>
    <div class="flex-row no-wrap">     
      <picture class="img-ahorcado">
            <img [src]="obtenerImagenSrc(intentos)" alt="Ahorcado" class="fade-in"> 
            <div class="palabra" id="palabra">
                <span *ngFor="let char of oculta">{{ char }}</span>
            </div>    
       </picture>
    </div>
    <div class="flex-row" id="turnos">
      <div class="col">
        <h3 class="intentos">Intentos restantes: <span class="intentos">{{ intentos }}</span></h3>
      </div>
     
      <div class="col">
        <br><br><br>
        <button (click)="inicio()" class="reset">{{ botonReset }}</button>
        <button *ngIf="!juegoTerminado" (click)="mostrarPista()" >¡Dame una pista!</button>
        <span class="pista">{{ pistaTexto }}</span>
      </div>
    </div>
    <div class="flex-row">
      <div class="col">
        <div *ngIf="!juegoTerminado" class="flex-row" id="abcdario">
          <button *ngFor="let letra of abecedario" [value]="letra" (click)="intento(letra)" class="letra" [id]="letra" [disabled]="letrasUsadas.has(letra)">
            {{ letra }}
          </button>
        </div>
      </div>
    <div class="col"></div>
    </div>
  </div>
