<div *ngIf="registroFormAbierto" class="registro-container">   
    <div class="registro-form">
        <button class="close-button" (click)="cerrarRegistroForm()">x</button>
        <h1 class="registro-title">Registro</h1>
        <div class="form-group">
            <label for="email" class="label-form">Correo Electrónico:</label>
            <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" [(ngModel)]="correoElectronico" required>
        </div>
        <div class="form-group">
            <label for="password" class="label-form">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" [(ngModel)]="password"required>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="label-form">Repetir Contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Ingrese de nuevo su contraseña" [(ngModel)]="confirmarPassword" required>
        </div>
        <div class="form-group">
            <label for="username" class="label-form">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario" [(ngModel)]="nombreUsuario" required>
        </div>
        <button (click)="Registro()" class="registro-button">Registrarse</button>
        <div class="autoCompletar">
            <input  type="checkbox" [(ngModel)]="cbEstaActivo" name="autoCompletar" (click)="autoCompletarCampos()">
            <label  for="autoCompletar">Auto Completar Campos.</label>
        </div>
    </div>
    <div class="overlay"></div> 
</div>